<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
<IfModule mod_rewrite.c>
	Option +FollowSymLinks
	RewriteEngine On
	RewriteRule https://trusttechbd.com/categories/asus-laptop-price-in-bd-2022 https://trusttechbd.com/categories/asus-laptop [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/hp-laptop-price-in-bangladesh https://trusttechbd.com/categories/hp-laptop [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/acer-laptop-price-in-bangladesh https://trusttechbd.com/categories/acer-laptop [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/lenovo https://trusttechbd.com/categories/lenovo-laptop [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/msi https://trusttechbd.com/categories/msi-laptop [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/dell-j4wyo6mC https://trusttechbd.com/categories/dell-laptop [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/asus-laptop https://trusttechbd.com/categories/asus-gaming-laptop [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/hp-OcLQ2ccd https://trusttechbd.com/categories/hp-gaming-laptop [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/acer-3MVbeMWm https://trusttechbd.com/categories/acer-gaming-laptop [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/lenovo-naaLdJAT https://trusttechbd.com/categories/lenovo-gaming-laptop [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/dell-YoTHWA3V https://trusttechbd.com/categories/dell-gaming-laptop [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/gigabyte-ftYC3R1C https://trusttechbd.com/categories/gigabyte-gaming-laptop [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/seagate https://trusttechbd.com/categories/seagate-laptop-hard-disk-drive [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/toshiba https://trusttechbd.com/categories/toshiba-laptop-hard-disk-drive [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/western-digital https://trusttechbd.com/categories/western-digital-laptop-hard-disk-drive [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/acer https://trusttechbd.com/categories/acer-laptop-bag [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/asus-pw8zV0sx https://trusttechbd.com/categories/asus-laptop-bag [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/dell https://trusttechbd.com/categories/dell-laptop-bag [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/hp-LPs7l1Bo https://trusttechbd.com/categories/hp-laptop-bag [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/adata https://trusttechbd.com/categories/adata-laptop-ram [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/sk-hynix https://trusttechbd.com/categories/sk-hynix-laptop-ram [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/samsung https://trusttechbd.com/categories/samsung-laptop-ram [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/fd-brand https://trusttechbd.com/categories/fd-speaker [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/microlab-brand https://trusttechbd.com/categories/microlab-speaker [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/xtreme-brand https://trusttechbd.com/categories/xtreme-speaker [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/logitech-brand https://trusttechbd.com/categories/logitech-speaker [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/edifier https://trusttechbd.com/categories/edifier-speaker [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/havit-brand https://trusttechbd.com/categories/havit-speaker [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/fantech-brand https://trusttechbd.com/categories/fantech-speaker [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/hp-brand https://trusttechbd.com/categories/hp-monitor [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/dell-brand https://trusttechbd.com/categories/dell-monitor [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/asus-brand https://trusttechbd.com/categories/asus-monitor [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/msi-brand https://trusttechbd.com/categories/msi-monitor [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/samsung-brand https://trusttechbd.com/categories/samsung-monitor [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/gigabyte-brand https://trusttechbd.com/categories/gigabyte-monitor [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/viewsonic https://trusttechbd.com/categories/viewsonic-monitor [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/lg-brand-8tWvtxAE https://trusttechbd.com/categories/lg-monitor [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/benq https://trusttechbd.com/categories/benq-monitor [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/philips https://trusttechbd.com/categories/philips-monitor [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/lenovo-I1x11KHB https://trusttechbd.com/categories/lenovo-monitor [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/starex https://trusttechbd.com/categories/starex-monitor [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/monitor-fpXT08J8 https://trusttechbd.com/categories/monitor [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/storage-mQ8FdUSq https://trusttechbd.com/categories/storage [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/usb-ssd https://trusttechbd.com/categories/usb-external-ssd [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/usb-hdd https://trusttechbd.com/categories/usb-external-hdd [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/intel-uPj5EqaH https://trusttechbd.com/categories/intel-external-ssd [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/transcend-BJiho8LS https://trusttechbd.com/categories/transcend-external-ssd [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/samsung-JO6N1u93 https://trusttechbd.com/categories/samsung-external-ssd [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/ups-KgsrUCFk https://trusttechbd.com/categories/ups [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/apollo https://trusttechbd.com/categories/apollo-ups [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/power-guard https://trusttechbd.com/categories/power-guard-ups [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/power-pac https://trusttechbd.com/categories/power-pac-ups [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/prolink-brand https://trusttechbd.com/categories/prolink-ups [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/maxgreen https://trusttechbd.com/categories/maxgreen-ups [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/digital-x https://trusttechbd.com/categories/digital-x-ups [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/keyboard-pUQ0z0Ej https://trusttechbd.com/categories/keyboard [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/mouse-rCJQyIAW https://trusttechbd.com/categories/mouse [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/a4-tech https://trusttechbd.com/categories/a4-tech-keyboard [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/logitech https://trusttechbd.com/categories/logitech-keyboard [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/fantech-tUG1qtlW https://trusttechbd.com/categories/fantech-keyboard [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/havit https://trusttechbd.com/categories/havit-keyboard [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/redragon https://trusttechbd.com/categories/redragon-keyboard [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/logitech-3tR9OcWg https://trusttechbd.com/categories/logitech-mouse [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/fantech-47wKi4HV https://trusttechbd.com/categories/fantech-mouse [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/a4tech https://trusttechbd.com/categories/a4tech-mouse [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/delux-jFfX19Dc https://trusttechbd.com/categories/delux-mouse [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/suntech https://trusttechbd.com/categories/suntech-mouse [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/corsair-jY8WKVzO https://trusttechbd.com/categories/corsair-mouse [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/havit-VHCKF7db https://trusttechbd.com/categories/havit-mouse [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/value-top-qtS9TdQB https://trusttechbd.com/categories/value-top-mouse [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/redragon-CeglhMqB https://trusttechbd.com/categories/redragon-mouse [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/hp-orcSq9wU https://trusttechbd.com/categories/hp-printer [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/canon https://trusttechbd.com/categories/canon-printer [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/epson https://trusttechbd.com/categories/epson-printer [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/epson-9389iuXV https://trusttechbd.com/categories/epson-scanner [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/canon-pdPuAJWB https://trusttechbd.com/categories/canon-scanner [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/hp-SxbG4vJ0 https://trusttechbd.com/categories/hp-scanner [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/casing-9 https://trusttechbd.com/categories/computer-casing [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/amd https://trusttechbd.com/categories/amd-processor [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/intel https://trusttechbd.com/categories/intel-processor [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/antec https://trusttechbd.com/categories/antec-computer-casing [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/gigabyte-xyP49yza https://trusttechbd.com/categories/gigabyte-computer-casing [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/corsair-mHgITibp https://trusttechbd.com/categories/corsair-computer-casing [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/thermaltack-DbAY4ngq https://trusttechbd.com/categories/thermaltake-computer-casing [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/golden-field https://trusttechbd.com/categories/golden-field-computer-casing [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/gamdias https://trusttechbd.com/categories/gamdias-computer-casing [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/gamemax https://trusttechbd.com/categories/gamemax-computer-casing [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/msi-qDUuG4Oe https://trusttechbd.com/categories/msi-computer-casing [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/cooler-master https://trusttechbd.com/categories/cooler-master-computer-casing [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/safeway https://trusttechbd.com/categories/safeway-computer-casing [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/xtreme https://trusttechbd.com/categories/xtreme-computer-casing [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/ovo https://trusttechbd.com/categories/ovo-computer-casing [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/delux https://trusttechbd.com/categories/delux-computer-casing [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/value-top https://trusttechbd.com/categories/value-top-computer-casing [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/asus https://trusttechbd.com/categories/asus-computer-casing [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/montech https://trusttechbd.com/categories/montech-computer-casing [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/cpu-cooler-rIDcbYQ5 https://trusttechbd.com/categories/cpu-cooler [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/corsair-3NQfTmV8 https://trusttechbd.com/categories/corsair-cpu-cooler [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/deepcool-UWS8u6NI https://trusttechbd.com/categories/deepcool-cpu-cooler [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/cooler-master-apueoOWQ https://trusttechbd.com/categories/cooler-master-cpu-cooler [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/thermaltack-7eR3yg21 https://trusttechbd.com/categories/thermaltake-cpu-cooler [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/antec-9znY05yk https://trusttechbd.com/categories/antec-cpu-cooler [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/msi-4Ez0NsVp https://trusttechbd.com/categories/msi-cpu-cooler [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/gigabyte-cKVs8sK3 https://trusttechbd.com/categories/gigabyte-cpu-cooler [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/mother-board-price-in-bangladesh https://trusttechbd.com/categories/mother-board [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/asus-amd-motherboard-price-in-bangladesh https://trusttechbd.com/categories/asus-amd-motherboard [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/asus-intel https://trusttechbd.com/categories/asus-intel-motherboard [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/msi-amd https://trusttechbd.com/categories/msi-amd-motherboard [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/msi-intel https://trusttechbd.com/categories/msi-intel-motherboard [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/gigabyte-amd https://trusttechbd.com/categories/gigabyte-amd-motherboard [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/gigabyte-intel https://trusttechbd.com/categories/gigabyte-intel-motherboard [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/asrock-amd https://trusttechbd.com/categories/asrock-amd-motherboard [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/asrock-intel https://trusttechbd.com/categories/asrock-intel-motherboard [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/esonic https://trusttechbd.com/categories/esonic-motherboard [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/graphics-card-price-in-bd https://trusttechbd.com/categories/graphics-card [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/colorful https://trusttechbd.com/categories/colorful-graphics-card [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/sapphire https://trusttechbd.com/categories/sapphire-graphics-card [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/ram-TR80riwB https://trusttechbd.com/categories/ram [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/corsair https://trusttechbd.com/categories/corsair-ram [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/pny https://trusttechbd.com/categories/pny-ram [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/twinmos https://trusttechbd.com/categories/twinmos-ram [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/gskill https://trusttechbd.com/categories/gskill-ram [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/adata-wf0es6Hw https://trusttechbd.com/categories/adata-ram [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/gigabyte-0L2U9e9K https://trusttechbd.com/categories/gigabyte-ram [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/thermaltack https://trusttechbd.com/categories/thermaltake-ram [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/transcend https://trusttechbd.com/categories/transcend-ram [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/team https://trusttechbd.com/categories/team-ram [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/geil https://trusttechbd.com/categories/geil-ram [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/kingsman https://trusttechbd.com/categories/kingsman-ram [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/aitc https://trusttechbd.com/categories/aitc-ram [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/corsair-tZGW8O4r https://trusttechbd.com/categories/corsair-ssd [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/samsung-skWKXxQ3 https://trusttechbd.com/categories/samsung-ssd [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/twinmos-LAhyCo8b https://trusttechbd.com/categories/twinmos-ssd [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/adata-4Caa3zw2 https://trusttechbd.com/categories/adata-ssd [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/apacer https://trusttechbd.com/categories/apacer-ssd [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/western-digital-9KrJJ8QY https://trusttechbd.com/categories/western-digital-ssd [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/kingsman-WzLMi4Ih https://trusttechbd.com/categories/kingsman-ssd [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/transcend-jIhQq7wV https://trusttechbd.com/categories/transcend-ssd [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/gigabyte https://trusttechbd.com/categories/gigabyte-ssd [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/pny-iP3buB6D https://trusttechbd.com/categories/pny-ssd [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/ramsta https://trusttechbd.com/categories/ramsta-ssd [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/msi-Qg59b1Qa https://trusttechbd.com/categories/msi-ssd [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/team-wNk05poy https://trusttechbd.com/categories/team-ssd [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/hp-A0EMWJXv https://trusttechbd.com/categories/hp-ssd [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/intel-pmXwsrfH https://trusttechbd.com/categories/intel-ssd [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/toshiba-pUIeCCV0 https://trusttechbd.com/categories/toshiba-hard-disk-drive [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/western-digital-3Cu65vGe https://trusttechbd.com/categories/western-digital-hard-disk-drive [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/seagate-rTvYbldJ https://trusttechbd.com/categories/seagate-hard-disk-drive [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/power-supply-9DRzoAmw https://trusttechbd.com/categories/power-supply [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/corsair-fl18Dple https://trusttechbd.com/categories/corsair-power-supply [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/gigabyte-FNnD2Ao7 https://trusttechbd.com/categories/gigabyte-power-supply [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/antec-FzssuCiP https://trusttechbd.com/categories/antec-power-supply [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/thermaltack-jtzi73Xp https://trusttechbd.com/categories/thermaltake-power-supply [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/msi-VGPel5cY https://trusttechbd.com/categories/msi-power-supply [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/value-top-4E4xCPpv https://trusttechbd.com/categories/value-top-power-supply [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/asus-b8FtJylv https://trusttechbd.com/categories/asus-power-supply [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/golden-field-PS3rubrZ https://trusttechbd.com/categories/golden-field-power-supply [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/gamdias-S4H4ENJA https://trusttechbd.com/categories/gamdias-power-supply [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/cooler-master-r1fZ1lx2 https://trusttechbd.com/categories/cooler-master-power-supply [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/deepcool-E3EB9M8d https://trusttechbd.com/categories/deepcool-power-supply [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/safe-way https://trusttechbd.com/categories/safe-way-power-supply [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/casing-cooler-QO3U1I4s https://trusttechbd.com/categories/casing-cooler-fan [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/fantech https://trusttechbd.com/categories/fantech-casing-fan [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/cooler-master-LYLsIldR https://trusttechbd.com/categories/cooler-master-casing-fan [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/corsair-8WbI8Qrw https://trusttechbd.com/categories/corsair-casing-fan [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/antec-u4WGrXEw https://trusttechbd.com/categories/antec-casing-fan [R=301,NC,L]
	RewriteRule https://trusttechbd.com/categories/thermaltack-4VF9yqbJ https://trusttechbd.com/categories/thermaltake-casing-fan [R=301,NC,L]
	
</IfModule>
